/*
#ff921f
#feb950
#704700
#8a773c

*/


html {
    position: relative;
    min-height: 100%;
}
body {
    font: 14px/28px "Open Sans",sans-serif;
    color: #595757;
    padding-bottom: 196px;
    background-color: #fafcfc;
}
section{
	padding-top:60px;
	padding-bottom:60px;
}
h2{
	padding-bottom:20px;
}

.header{
	background: url('/images/goodpano.jpg') repeat scroll center center / cover transparent;
	text-align: center;
	min-height:500px;
	padding-top:20px;
}

.logo{
	height: 200px;
}

.footer{
	text-align:center;
	background-color: #141414;
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer .nav-links a{
	padding:0 8px;
}
#navigation{
	background-color:#DAD3BC;
	padding-top:0;
	padding-bottom:0;
}

#navigation a{
	color:#777;
	font-size:20px;
	height: 100%;
	padding: 20px 20px;
	display: inline-block;
}

#navigation a:hover{
	background-color:#fafcfc;
	color:#3d3d3d;
	text-decoration: none;
	transition: background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

#todo{
	border-bottom:16px solid #8a773c;
}

#about-carousel img{
	height:600px;
	width:100%;
}
#eco{
	border-top:16px solid #8a773c;
	border-bottom:16px solid #8a773c;
}

#eco li{
	list-style:none;
}

#todo li{
	list-style:none;
}

#location{
	border-bottom:16px solid #8a773c;
}
#bookings{
		border-bottom:16px solid #8a773c;
}
#bookings .datepicker table{
	font-size:18px;
}

#bookings .datepicker {
	width:100%;
}
#bookings .datepicker td{
	border-radius:0;
}
#bookings .datepicker .booked{
	background-color: rgb(255, 97, 91);
	color: #FFF;
}

#bookings .datepicker table td.active{
	background-color:none;
}



@media only screen and (min-width : 1200px) {

	#eco .pic{
		text-align:left;
	}
	#todo .list{
		text-align:left;
	}
	#todo .pic{
		text-align:right;
	}
	#eco .list{
		text-align:right;
	}
}